<div class="text-center">
  <div class="error mx-auto" data-text="404">404</div>
  <p class="lead text-gray-800 mb-5">Página não encontrada</p>
  <p class="text-gray-500 mb-0">Parece que você encontroum buraco na Matrix...</p>
  <a href="<%= routes.dashboard.path %>">&larr; Voltar para o Dashboard</a>
</div>